*{
    padding: 0;
    margin: 0;
    /*overflow-x: hidden;*/
}

/*header*/
.nav{
    display: block !important;
    text-align: left;
    position: static;
    max-width: 100%;
    /*border: solid white 2px;*/
    background-color: transparent;
    height: auto;
}
#logo{
    margin: 10px;
    margin-left: 20px;
    height: auto;
    width: 240px;
}

/*section*/
section{
    margin: 20px;
    /*border: solid white 2px;*/
    max-width: 100%;
    height: auto;  
    overflow: hidden;
}

/*contenedor formulario*/

#contenedor{
    margin: 20px;
    padding-top: 130px;
    padding-bottom: 50px;
}

section > #formulario > #contenedor > div > *.form-label{
    font-weight: bold;
}


section > #formulario > #contenedor > #pregunta{
    text-align: center;
}

section > #formulario > #contenedor > *.form-label{
    font-weight: bold;
}

section > #formulario > #contenedor > #div-check{
    text-align: center;
    font-size: 13px;
}

.form-check-input:checked {
    background-color: #040e51 !important;
    border-color: #040e51 !important;
}

section > #formulario > #contenedor > .col-md-12 > #div-check > label > a{
    text-decoration: none;
    color: #212529;
}

section > #formulario > #contenedor > .col-md-12 > #div-check{
    text-align: center;
}

section > #formulario > #contenedor > .col-md-12 > #div-btn{
    text-align: center;
    
}

section > #formulario > #contenedor > #div-btn > button{
    background-color: #040e51;
    border-color: #040e51;
    font-weight: bold;
}

#frase1{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    height: auto;
    /*border: 1px solid white;*/
    color: white;
    z-index: 1;
    left: 24%;
    top: 110px;
    position: sticky;
}

#frase2{
    font-family: 'Lobster', 'cursive';
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    height: auto;
    /*border: 1px solid white;*/
    color: white;
    z-index: 1;
    left: 30%;
    bottom: 0px;
    position: sticky;
}


/*footer*/
footer{
    position: static;
    width: 100%;
    height: 50px;
    /*border: solid white 2px;*/
    bottom: 0;
    left: 0;
    text-align: center;
}

footer p{
    color: white;
    line-height: 46px;
}

#registro{
    padding-top: 50vh;
    padding-bottom: 50vh;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    height: 100vh;
    text-align: center;
    color: white;
    font-size: 2rem;
    max-height: 100%;
}
  
/*media queries*/
@media (max-width: 575.98px) {

    /*body*/
    body{
        background-image: url(../../img/prospectacion/mobile/bg-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    /*header*/
    .nav{
        text-align: center;
    }

    #formulario{
        background-image: url(../../img/prospectacion/mobile/capa-mobile.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: auto;
    }

    #frase1{
        font-size: 23px;
    }

    #frase2{
        font-size: 25px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

     /*body*/
     body{
        background-image: url(../../img/prospectacion/mobile/bg-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    /*header*/
     .nav{
        text-align: center;
    }

    /*Formulario*/
    #formulario{
        background-image: url(../../img/prospectacion/mobile/capa-mobile.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: auto;
    }
    #frase1{
        font-size: 30px;
    }

    #frase2{
        font-size: 30px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

   /*body*/
    body{
        background-image: url(../../img/prospectacion/web/capa-web.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    /*header*/
    .nav{
        text-align: center;
    }

    /*Formulario*/
    #formulario{
        background-image: url(../../img/prospectacion/web/capa-web.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: auto;
    }

    #frase1{
        margin-left: 225px;
        margin-right: 205px;
        font-size: 30px;
        top: 128px;
    }

    #frase2{
        margin-left: 238px;
        margin-right: 232px;
        font-size: 27px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    /*body*/
    body{
        background-image: url(../../img/prospectacion/web/bg-web.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    /*Formulario*/
    #formulario{
        background-image: url(../../img/prospectacion/web/capa-web.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: auto;
    }

    #frase1{
        margin-left: 225px;
        margin-right: 205px;
        font-size: 30px;
        top: 128px;
    }

    #frase2{
        margin-left: 238px;
        margin-right: 232px;
        font-size: 27px;
    }

    #contenedor{
        padding-top: 170px;
    }

    section > #formulario > #contenedor > div > *.form-label{
        font-size: 1.3rem;
    }
    
    
    section > #formulario > #contenedor > .col-md-12 > #div-check{
        font-size: 1.2rem;
        text-align: left;
    }
    
    section > #formulario > #contenedor > .col-md-12 > #div-check > label > a{
        text-decoration: none;
        color: #212529;
    }   

    section > #formulario > #contenedor > #div-btn > button{
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    
    /*body*/
    body{
        background-image: url(../../img/prospectacion/web/bg-web.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    /*Formulario*/
    #formulario{
        background-image: url(../../img/prospectacion/web/capa-web.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: auto;
    }

    #frase1{
        margin-left: 225px;
        margin-right: 205px;
        font-size: 30px;
        top: 128px;
    }

    #frase2{
        margin-left: 238px;
        margin-right: 232px;
        font-size: 27px;
    }

    #contenedor{
        padding-top: 170px;
    }

    section > #formulario > #contenedor > div > *.form-label{
        font-size: 1.3rem;
    }
    
    
    section > #formulario > #contenedor > .col-md-12 > #div-check{
        font-size: 1.2rem;
        text-align: left;
    }
    
    section > #formulario > #contenedor > .col-md-12 > #div-check > label > a{
        text-decoration: none;
        color: #212529;
    }

    section > #formulario > #contenedor > #div-btn > button{
        font-size: 1.3rem;
    }

}